flow-example.js
[{"id":"650d6c75.275fa4","type":"tab","label":"MPU Sensor Flow","disabled":false,"info":""},{"id":"f92324e4.437898","type":"debug","z":"650d6c75.275fa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":80,"wires":[]},{"id":"d99de9c9.10b458","type":"inject","z":"650d6c75.275fa4","name":"Stop Data","topic":"","payload":"{\"method\":\"getAll\",\"stream\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["77bb6302.79a47c"]]},{"id":"77bb6302.79a47c","type":"sensor-mpu9250","z":"650d6c75.275fa4","name":"sensor-mpu9250","x":390,"y":80,"wires":[["f92324e4.437898"]]},{"id":"f2e1e11.601ae2","type":"inject","z":"650d6c75.275fa4","name":"Start Data (no interval)","topic":"","payload":"{\"method\":\"getAll\",\"stream\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["77bb6302.79a47c"]]},{"id":"41fa7c2.a44cf84","type":"inject","z":"650d6c75.275fa4","name":"Start Data (interval 2s)","topic":"","payload":"{\"method\":\"getAll\",\"stream\":true,\"streamIntervalMs\":2000}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["77bb6302.79a47c"]]}]